<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      charset="UTF-8"
    />
    <title>Accounts Payable Invoice Processing</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/upload_ui.css' %}" />
    <script
      src="{% static 'frontend/file_handling.js' %}"
      type="text/javascript"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Accounts Payable Invoice Processing</h1>
        <a href="/login">Login</a>
      </div>
      <div class="flex">
        <div class="box">
          <h2>Recent Activities (Work in Process)</h2>
          <p>Number of invoices processed:</p>
          <p>Pending tasks:</p>
          <p>Notifications:</p>
        </div>
        <div class="box">
            <h2>Invoice Management</h2>
            <form id="uploadForm">
                <label for="file-upload">Upload Invoice (PDF only):</label><br>
                <input type="file" id="file-upload" name="files" accept="application/pdf" multiple required>
                <button type="button" onclick="uploadFile()">Upload</button>
            </form>
            <div id="loadingIndicator" style="display: none; margin-top: 10px">
                {% load static %}
                <img src="{% static "frontend/loading.gif" %}" alt="Loading..." style="vertical-align: middle; margin-right: 5px; width: 20px; height: 20px">
                Processing Invoices...
            </div>
        </div>
      </div>
      <div id="downloadButton" class="button">
        <button onclick="downloadFile()">Download Excel File</button>
      </div>
    </div>
  </body>
</html>
